@charset "UTF-8";

/******************************************************************
**	说    明: $W			单个option宽度
**			  $H			单个option高度
**			  $P			单个option内边距
**			  $C			字体颜色
**			  $HOV-C		鼠标hover字体颜色
**			  $HOV-BG		鼠标hover背景色
**			  $MAX-SIZE		下拉最大高度,大于0限制,小于等于0不限制
**
*******************************************************************
**
**	使用示例: @include select(360px, 36px, 10px, #777, #FFF, #299fff, 0);
**
*******************************************************************/

@mixin select( $W, $H, $P, $C, $HOV-C, $HOV-BG, $SIZE) {
	.select {
		z-index: 1;
		position: relative;
		width: $W;
		height: $H;

		&:hover ul {
			visibility: visible;
		}
		
		.view {
			position: relative;
			border: 1px solid #CCC;

			&:after {
				content: " ";
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				top: $P + 6;
				right: $P;
				border-width: 6px;
				border-style: solid;
				border-color: $C transparent transparent transparent;
			}
		}
		.option {
			height: $H - $P*2;
			line-height: $H - $P*2; 
			padding: $P;
			color: $C;
		}
		ul {
			@if ( $SIZE > 0){
				max-height: $SIZE * ($H + 1) - 1;
				overflow-y: scroll;
			}
			visibility: hidden;
			border-width: 0 1px 1px 1px;
			border-style: solid;
			border-color: #CCC;
		}
		li {
			cursor: pointer;
			border-top: 1px solid #CCC;

			&:first-child {
				border-top: 0;
			}

			&:hover {
				color: $HOV-C;
				background-color: $HOV-BG;
			}
		}
	}
}
