@charset "UTF-8";

/******************************************************************
**	Intro   : $W			One option width / 单个option宽度
**	说明	  $H			One option height / 单个option高度
**			  $P			One option padding / 单个option内边距
**			  $C			Font color / 字体颜色
**			  $HOV-C		Hover color / 鼠标hover字体颜色
**			  $HOV-BG		hover bg / 鼠标hover背景色
**			  $MAX-SIZE		max height / 下拉最大高度,大于0限制,小于等于0不限制
**
*******************************************************************
**
**	Example: @include select(360px, 36px, 10px, #777, #FFF, #299fff, 0);
**	示   例
*******************************************************************/

@mixin select( $W, $H, $P, $C, $HOV-C, $HOV-BG, $SIZE) {
	@at-root .select {
		z-index: 1;
		position: relative;
		width: $W;
		height: $H;
	}
		
	.view {
		position: relative;
		border: 1px solid #CCC;
		padding: $P 24px $P $P;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: $P + 6;
			right: $P;
			border-width: 6px;
			border-style: solid;
			border-color: $C transparent transparent transparent;
		}
	}
	.option {
		display: block;
		height: $H - $P*2;
		line-height: $H - $P*2; 
		padding: $P;
		color: $C;
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	ul {
		@if ( $SIZE > 0){
			max-height: $SIZE * ($H + 1) - 1;
			overflow-y: scroll;
		}
		display: none;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #CCC;
		background-color: #FFF;
	}
	li {
		cursor: pointer;
		border-top: 1px solid #CCC;
		padding: $P;

		&:first-child {
			border-top: 0;
		}

		&:hover {
			color: $HOV-C;
			background-color: $HOV-BG;
		}
	}


	@at-root &.noscript {	// If not support JS / 如果不支持JS则使用hover
		ul {
			display: block;
			visibility: hidden;
		}

		&:hover ul {
			visibility: visible;
		}
	}
}