@charset "UTF-8";
@import "mixins";

// 格式化
body, ul, li {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}

// Call function without limited max height 调用函数不限制最大高度
@include select(360px, 36px, 10px, #777, #333, #f0f0f0, 0);

// Call function with limited max height 调用函数，限制最大下拉高度为4个
// @include select(360px, 36px, 10px, #777, #333, #f0f0f0, 4);